		
{{ range (where .Site.RegularPages "Type" "post") }}

<div class="badge badge-light" style="margin:5px;" data-wow-delay=".5s" href="">

<img src="https://cdn.statically.io/img/cdn2-build.mobagenie.my.id/f=auto/p/images/banner/full/{{ $.Page.Params.heroname | lower }}.png" width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
		
</br></br>
<p type="button" class="btn btn-secondary btn-xs" data-toggle="popover" data-toggle="popover" data-placement="top" style="background:#009578;" data-content="">
{{ $.Page.Params.heroname | lower }}
</p></div>


{{ end }}
