<abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
										<b><label style=color:#FF0>Brute Force Breastplate</label><br><br>+770 HP<br>
+45 Physical Defense<br><br>
Equipment Blessing: None<br>
Unique Passive-Brute Force: Casting a skill or using Basic Attacks will increase Movement Speed by 2% Physical & Magic Defense by 4. Lasts 4s. Stacks up to 5 times."><img src="../images/items/defance/d6.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="100px" height="100px"   /></abbr>

{{ .Inner }}