		<!-- <div class="card-header" style="padding:1rem 2.25rem;background-color:#212529;border-bottom:0px;"> -->
		<!-- <div class="animated-box in" style="height:6rem;width:6rem;"> -->
		<!-- <div class="kahraman" style="height: 6rem;width: 6rem;background-size:cover;background-image:url(../images/buildk/{{ .Get "HeroName" }}.png);border-radius:5px;"></div>			 				 -->
		<!-- <h3 class="h2" style="padding: 0px 9rem;position: absolute;top: 0px;color: antiquewhite;">{{ .Get "HeroName" }}&nbsp;Build</h3><div class="comments" style=" padding: 0px 9rem; position: absolute;top: 35px; color: antiquewhite;"> -->
		<!-- <i class="fa fa-eye"></i><b style="top: 0px;position: absolute;">View: {{ .Get "View" }}</b></div></div> -->
		<!-- <div class="comments" style="padding: 0px 9rem;position: absolute;top: 70px;color: antiquewhite;"> -->
		<!-- <img src="../images/classes/2.png" id="resim2" style="padding: 0px 3rem;position: absolute;/* visibility: hidden; */height: 20px;top: 22px;"> -->
		<!-- <b style="top: 20px;position: absolute;">Role:</b></div> -->
		<!-- </div> -->
		
		<!-- {{ .Inner }} -->