      <div class="row text-white bg-dark">
      	
        <div class="col-lg-12">

<h2><i class="fas fa-table fa-sm"></i> Attributes</h2>

</div>

        <div class="col-lg-12  text-white ">			

									    <div class="table-responsive">   
										<table class="table table-striped table-sm">
										<thead>

										</thead>
										
										<tbody>
																	
					
										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img1" }}" alt="{{ .Get "Attrib1" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib1" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal1" }}</td>
										</tr>

										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img2" }}.png" alt="{{ .Get "Attrib2" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib2" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal2" }}</td>
										</tr>					

										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img3" }}.png" alt="{{ .Get "Attrib3" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib3" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal3" }}</td>
										</tr>
										
										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img4" }}.png" alt="{{ .Get "Attrib4" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib4" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal4" }}</td>
										</tr>

										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img5" }}.png" alt="{{ .Get "Attrib5" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib5" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal5" }}</td>
										</tr>

										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img6" }}.png" alt="{{ .Get "Attrib6" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib6" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal6" }}</td>
										</tr>										


										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img7" }}.png" alt="{{ .Get "Attrib7" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib7" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal7" }}</td>
										</tr>

										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img8" }}.png" alt="{{ .Get "Attrib8" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib8" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal8" }}</td>
										</tr>

										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img9" }}.png" alt="{{ .Get "Attrib9" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib9" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal9" }}</td>
										</tr>

										<tr>
										<th scope="row" style="border-top: 1px solid #0c1c36;">
										<img src="{{ .Site.Params.cdn }}/p/images/attribute/{{ .Get "img10" }}.png" alt="{{ .Get "Attrib10" }}t" id="resim2" width="25px" height="25px" >
										<!-- <label style="color: antiquewhite;"> -->
										{{ .Get "Attrib10" }}
										<!-- </label> -->
										
										</th>
										<td style="border-top: 1px solid #0c1c36;">&nbsp;{{ .Get "AttribVal10" }}</td>
										</tr>
										
										</tbody>										
										</table>
										</div>

</div>
										</div>
										
										{{ .Inner }}