
<abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
<b><label style=color:#FF0>Clock of Destiny</label><br><br>+60 Magic Power<br>
+615 HP<br>
+600 Mana<br><br>

Equipment Blessing: None<br>


Unique Passive-Time: Adds 25 HP and 4 Magic Power every 20s. Up to 12 times.<br>
Unique Passive-Reincarnate: If Time reaches Max, then the hero will receive extra 5% Magic Power and 300 Mana"><img src="../images/items/magic/m7.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="100px" height="100px"   /></abbr>


    {{ .Inner }}
