      <div class="row text-white bg-dark">
      	
        <div class="col-lg-12">

<h2><i class="material-icons">bar_chart</i> Ability</h2>
<hr>
	
										<!-- <div class="col-sm-9" style="background-color:#0c1c36;max-width:100%"> <hr style="margin-bottom:0px;"></div> -->

										<!-- <div class="card-header" style="padding:1rem 2.25rem;background-color:#212529;border-bottom:0px;"> -->
										<!-- <h4 style="color:deeppink"> Fighting Ability</h4><br> -->

<b>
										{{ .Inner }}													
</b>
															
										
										<!-- </div> -->
										
										
</div>
										</div>