										<div class="card-header" style="padding:1rem 2.25rem;background-color:#091835;border-bottom:0px;"> 						 
										<abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
										<b><label style=color:#FF0></label>This build verified by Professional player">
										<img src="images/symbols/d.png" alt="ticket" id="resim2" width="30px" height="27px" /></abbr>
										</span><b style="color: antiquewhite">「Rebel」喵喵&nbsp&nbsp;&nbsp;|&nbsp;&nbsp;&nbspWinrate&nbsp;96.4% <br> 	
										<img src="images/symbols/lig.png" width="30px" height="30px" alt="ticket" id="resim2" /></span>&nbspLeague: x 1250&nbsp|&nbsp&nbsp&nbspMatches&nbsp;278 </b><hr style="margin-bottom:0px;">
										</div>
										
										{{ .Inner }}