										<div class="card-header" style="padding:1rem 2.25rem;background-color:#091835;border-bottom:0px;">		  
										<img src="images/symbols/coin.png" alt="cost" id="resim2" width="30px" height="30px"   /></span>
										<b style="color: antiquewhite">&nbsp;32000&nbsp;&nbsp;&nbsp;&nbsp;</b>
										<img src="images/symbols/elmas.png" alt="diamond" id="resim2" width="30px" height="30px"   /></span>
										<b style="color: antiquewhite">&nbsp;599&nbsp;&nbsp;&nbsp;&nbsp;</b>
										<img src="images/symbols/ticket.png" alt="ticket" id="resim2" width="30px" height="30px"  /></span>
										<b style="color: antiquewhite">&nbsp;0&nbsp;</b>
										</div>
										
										{{ .Inner }}