<abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
										<b><label style=color:#FF0>Ice Queen Wand</label><br><br>+75 Magic Power <br>
+10% Magic Lifesteal<br>
+150 Mana<br>
+7% Movement Speed<br><br>

Equipment Blessing: None<br>

Unique Passive-Ice Bound: Skills that deal damage to an enemy hero will slow them by 15%. This effect lasts 3s. Stacks up to 2 times."><img src="../images/items/magic/m3.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="100px" height="100px"  /></abbr>

{{ .Inner }}