<abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
										<b><label style=color:#FF0>Immortality</label><br><br>+800 HP<br>
+40  Physical Defense<br><br>
Equipment Blessing: None<br>
Unique Passive-Immortal: Resurrects in 2.5s after death and gets 15% HP and 220- 1200 shield that lasts for 3s.(Scales with hero level). This effect has a CD of 210s.
"><img src="../images/items/defance/d5.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="100px" height="100px"  /></abbr>

    {{ .Inner }}