<abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
										<b><label style=color:#FF0>Lightning Truncheon</label><br><br>+75 Magic Power<br>
+300 Mana <br>
+%10 CD Reduction<br><br>

Equipment Blessing : None<br>

Unique Passive-Resonate: Every 6s , the next skill echoes, dealing 20-1000 Magic Damage(scales with the heroes Max Mana)to up to 3 enemies"><img src="../images/items/magic/m17.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="100px" height="100px"   /></abbr>

    {{ .Inner }}