<abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
										<b><label style=color:#FF0>Warrior Boots</label><br><br>+40 Movement Speed<br>
+22  Physical Defense<br><br>
Equipment Blessing: None<br>
Unique Passive-Valor: Physical Defense will be increased by 5 for 25s for each basic attack received capped at 25."><img src="../images/items/shoe/s1.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="100px" height="100px"   /></abbr>

    {{ .Inner }}