<!-- { -->
  <!-- padding: 0; -->
  <!-- margin: 0; -->
  <!-- box-sizing: border-box; -->
  <!-- list-style: none; -->
  <!-- text-decoration: none; -->
  <!-- -moz-osx-font-smoothing: grayscale; -->
  <!-- -webkit-font-smoothing: antialiased; -->
  <!-- text-rendering: optimizeLegibility; -->
<!-- } -->

<!-- body { -->
  <!-- font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; -->
  <!-- font-size: 1rem; -->
  <!-- font-weight: normal; -->
  <!-- line-height: 1.5; -->
  <!-- color: #252a32; -->
  <!-- background: #ffffff; -->
<!-- } -->

<!-- .container { -->
  <!-- max-width: 80rem; -->
  <!-- width: 100%; -->
  <!-- height: auto; -->
  <!-- padding: 0 2rem; -->
  <!-- margin: 0 auto; -->
<!-- } -->

.header .bottom-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8rem 0;
  background-color: #ebeef2;
  z-index: 99;
  will-change: transform;
  transform: translateZ(0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.header .bottom-nav-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  color: #f1f5f8;
}
.header .bottom-nav-link {
  display: flex;
  flex-direction: column;
}
.header .bottom-nav .active {
  color: #d32f2f;
}
.header .bottom-nav .hover {
  color: #d32f2f;
}

.bottom-nav a:hover {
    color: #dc3545;
    text-decoration: none;
}

.bottom-nav a {
    color: #212529;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}