<!DOCTYPE html>
<html>
    <head>
      {{ partial "head-page.html" . }}
        {{ partial "head-add-on-page.html" . }}	


<div class="widget PopularPosts" data-version="1" id="PopularPosts1">
<!--h2>Recent</h2-->
<div class="widget-content popular-posts">
<ul>

<!--     {{ with .Site.Params.recentposts.title }}
        <h2>{{ . }} 0000000</h2>
    {{ end }} -->

<!-- {{ range first 5 (where .Data.Pages "Section" "post") }} -->
	
<!-- <li>
<div class="item-thumbnail-only">
<div class="item-thumbnail">
<a href="{{ .RelPermalink }}" target="_blank">

{{if isset .Params "cover_image" }}
<img alt="" border="0" src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_50,h_50,c_fill,g_face,f_auto/{{ index .Params "cover_image" }}">
{{ end }}

</a>
</div>
<div class="item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a>, {{ .Date.Format "02 Jan, 2006" }}</div>
</div>
<div style="clear: both;"></div>
</li>	
	

    {{ end }}

</ul>
</div>
</div> -->

{{ range first 20 (where site.RegularPages "Type" "in" site.Params.mainSections) }}

<li>
<div class="item-thumbnail-only">
<div class="item-thumbnail">
<a href="{{ .Site.Params.rooturl }}{{ .RelPermalink }}" target="_blank">

{{if isset .Params "images" }}
<!-- img alt="" border="0" src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_100,h_100,c_fill,g_face,f_auto/{{ index .Params "images" 0 }}" -->
{{ end }}

</a>
</div>
<div class="item-title"><a href="{{ .Site.Params.rooturl }}{{ .RelPermalink }}">{{ .Title }}</a>, {{ .Date.Format "02 Jan, 2006" }}</div>
</div>
<div style="clear: both;"></div>
</li>	

{{ end }}

</ul>
</div>
</div>



		<!--{{ partial "footer.html" . }}-->
    </body>
</html>