<div class="modal fade" id="lingSkills0Data" tabindex="-1" role="dialog" aria-labelledby="ling" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ling"><img src="{{ .Site.Params.cdn }}/p/images/skills/ling/0.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /> Skills 1</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
         </div>
         <div class="modal-body">
			Cloud Walker<br>Ling's superb Lightness Skill helps him leap among walls and assassinate enemies. When resting on the wall, Ling restores extra 6 Lightness Points per second. Each time Ling deals damage to enemies, he restores extra 5 Lightness Points. Ling&rsquo;s Lightness Skill grants him 15% Critical Chance, but decreases his Critical Damage to 140%.
         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
<!--- <button type="button" class="btn btn-primary">Save changes</button> --->
 </div>
      </div>
   </div>
</div>

<div class="modal fade" id="lingSkills1Data" tabindex="-1" role="dialog" aria-labelledby="ling" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ling"><img src="{{ .Site.Params.cdn }}/p/images/skills/ling/1.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /> Skills 2</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
         </div>
         <div class="modal-body">
			Finch Poise<br><font color='#404495'>(Passive)</font>: Ling&rsquo;s Critical Chance is permanently increased by 5%. <font color='#404495'>(Active)</font>: Ling casts his Lightness Skill, leaping onto the designated wall, entering <font color='#404495'>(half-stealth)</font> state, restoring Lightness Points more quickly and gaining 30% Movement Speed. If Ling receives damage, he will leave the <font color='#404495'>(half-stealth)</font> state. If he is controlled, he will fall onto the ground and be slowed by 30% for 2s. When using this skill to jump from a wall to another, it will reset the Cooldown and refresh the <font color='#404495'>(half-stealth)</font> state.
         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
<!--- <button type="button" class="btn btn-primary">Save changes</button> --->
 </div>
      </div>
   </div>
</div>	

<div class="modal fade" id="lingSkills2Data" tabindex="-1" role="dialog" aria-labelledby="ling" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ling"><img src="{{ .Site.Params.cdn }}/p/images/skills/ling/2.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /> Skills 3</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
         </div>
         <div class="modal-body">
			Defiant Sword<br>Ling charges in a designated direction and stabs the nearby enemies at his destination, dealing 230<font color='#D58E1F'>( +40% Total Physical ATK)</font> Damage. If Ling casts this skill when he is on the wall, he will dash to a designated spot on the ground, dealing 230<font color='#D58E1F'>( +40% Total Physical ATK)</font> Damage to enemies within a small area and slowing them down by 30% for 1.5s. If this attack deals crit damage, enemies within the area will extra be slowed by 45% for 0.75s. <font color='#404495'>(Defiant Sword)</font> can trigger ATK Effects as Basic Attack and can restore 35 HP for Ling each time hits an enemy.
         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
<!--- <button type="button" class="btn btn-primary">Save changes</button> --->
 </div>
      </div>
   </div>
</div>	

<div class="modal fade" id="lingSkills3Data" tabindex="-1" role="dialog" aria-labelledby="ling" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ling"><img src="{{ .Site.Params.cdn }}/p/images/skills/ling/3.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /> Skills 4</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
         </div>
         <div class="modal-body">
			Tempest of Blades<br>Ling leaps up in the air and casts his superb sword skill for 1.5s, during which he becomes invincible, gains 10% Movement Speed, and is able to move. Then he lands on the ground, dealing 250<font color='#D58E1F'>( +100% Total Physical ATK)</font> damage to enemies within the area of effect, knocking enemies in the central area airborne for 1s, and generating a Sword Field that lasts for 8s. At the edge of the Sword Field, there will be 4 field eyes named <font color='#404495'>(Tempest of Blades)</font>. By touching the field eye, Ling can reset the Cooldown of <font color='#404495'>(Defiant Sword)</font> and restore 25 Lightness Points.
         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
<!--- <button type="button" class="btn btn-primary">Save changes</button> --->
 </div>
      </div>
   </div>
</div>	

										