
         {{ partial "head.html" . }}

  <body>

  <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
  
      {{ partial "top-nav.html" . }}

   <div class="be-content">
      <div class="container" style="max-width:1500px;margin:40px auto;font-size:1.2rem;">
	  

       

          <h1 class="entry-title">
            {{ .Title }}  <!-- title, in this case it will be "Archive page" -->
          </h1>

{{ .Content }}

	<div id="blog-archives" class="category">
		<table class="allposts">		
			<tbody>


				<!-- {{ .Content }} <!-- content of the markdown file. note that inside the range .Content will point to each page's content -->


				{{ range (where .Site.RegularPages "type" "section") }}
				<tr>	


<div class="badge badge-light" style="margin:5px;" data-wow-delay=".5s" href="{{ .RelPermalink }}">

{{if isset .Params "images" }}
{{ $images_set := index .Params.images  | absURL }}

<a href="{{ .RelPermalink }}"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/buildk/{{ .Params.cleanplayername | lower }}.png" alt="{{ .Params.playername }}" width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  /></a>
		
	<!-- <img src="{{ . | absURL }}" alt="" class="img-fluid rounded-circle" width="100px" height="100px"> -->

	{{ end }}
	


<!-- <b class="badge badge-primary"  style="color:">{{ index .Params.cleanplayername }}</b> -->
</br></br>
<a href="{{ .RelPermalink }}" type="button" class="btn btn-secondary" data-toggle="popover" data-toggle="popover" data-placement="top" style="background:#009578;" data-content="{{ .Params.post_highlight }}.">
  {{ .Params.cleanplayername | lower }}
</p></a>	
				<!-- <td class="allposts-date"><strong>{{ .Date | dateFormat "2006"}}</strong></td> -->
				
				<!-- <td class="allposts-date"><strong>{{ .Date | dateFormat "Jan" }} {{ .Date | dateFormat "2" }}</strong></td> -->
				
				<!-- <td class="allposts-title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></td> -->
				


				</tr>


				{{ end }}


			</tbody>
		</table>
	</div>
	
	
<br/><br/>	
	
         </div>
      </div>
   </div>

{{ partial "bottom-nav.html" . }}
                   


        {{ partial "footer.html" . }}

	 
  </body>

</html>
