
         {{ partial "head.html" . }}

  <body>

<style>
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
</style>


  <!-- <div class="container"> -->
  <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar" style="padding-top:12px;">
  
<div class="container-fluid no-padding" style="padding-bottom:18px;">
  <div class="row">
    <img class='img-fluid w-100' src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/banner/player/flat/{{ .Params.cleanplayername | lower }}.jpg" alt="" />
  </div>
</div>
  
      {{ partial "top-nav.html" . }}


<!-- {{ .Content | safeHTML }} -->

   <!-- <div class="be-content"> -->
   
      <div class="container" style="max-width:1500px;margin-top:-30px;font-size:1.2rem;">

   <div class="row text-white" style="background:#03a9f4;">
      <div class="col-4">Build by <a style="color:white;" href="/tags/isocan" title="Isocan">{{ .Params.cleanplayername | lower }}</a></div>
      <div class="col-4">Winrate 76%</div>
      <div class="col-4">Matches: 2514 </div>
   </div>
</b>
<div class="row text-white bg-dark">
   <div class="col-lg-12">
      <h2>Build 1</h2>
   </div>
   <div class="col-lg-12">
      <button type="button"  style="margin:5px;" class="btn btn-primary" data-toggle="modal" data-target="#CourageMaskData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/CourageMask.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#WarriorBootsData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/WarriorBoots.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#ImmortalityData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/Immortality.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#AthenasShieldData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/AthenasShield.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#BruteForceBreastplateData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/BruteForceBreastplate.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#QueensWingsData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/QueensWings.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
   </div>
</div>
<div class="row text-white bg-dark">
   <div class="col-lg-12">
      <h2>Build 2</h2>
   </div>
   <div class="col-lg-12">
      <button type="button"  style="margin:5px;" class="btn btn-primary" data-toggle="modal" data-target="#CursedHelmetData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/CursedHelmet.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#WarriorBootsData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/WarriorBoots.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#BladeArmorData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/BladeArmor.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#ImmortalityData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/Immortality.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#GuardianHelmetData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/GuardianHelmet.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
      <button type="button" style="margin:5px;"  class="btn btn-primary" data-toggle="modal" data-target="#AntiqueCuirassData"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/items/iname/AntiqueCuirass.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
   </div>
</div>
<div class="row text-white bg-dark">
   <div class="col-lg-12">
      <h2>Rec Spell</h2>
   </div>
   <div class="col-lg-12">
      <b>
         <ul class="nav nav-tabs " id="pills-tab" role="tablist">
            <li class="nav-item">
               <a class="nav-link active" id="pills-Petrify-tab" data-toggle="pill" href="#pills-Petrify" role="tab" aria-controls="pills-Petrify" aria-selected="true">Petrify</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="pills-Flicker-tab" data-toggle="pill" href="#pills-Flicker" role="tab" aria-controls="pills-" aria-selected="false">Flicker</a>
            </li>
         </ul>
      </b>
      <div class="tab-content" id="pills-tabContent">
         <div class="tab-pane fadeshow show active" id="pills-Petrify" role="tabpanel" aria-labelledby="pills-Petrify-tab">
            <p>Petrify</p>
         </div>
         <div class="tab-pane fade" id="pills-Flicker" role="tabpanel" aria-labelledby="pills-Flicker-tab">
            <p>Moves a certain distance in a designated direction.Then gains5 (&#43;1 * Hero Level) Physical &amp; Magic Defense for 1s </p>
         </div>
      </div>
   </div>
</div>
<div class="row text-white bg-dark">
   <div class="col-lg-12">
      <h2>Rec Emblem</h2>
   </div>
   <div class="col-lg-12">
      <b>
         <ul class="nav nav-tabs " id="pills-tab" role="tablist">
            <li class="nav-item">
               <a class="nav-link active" id="pills-Tank-tab" data-toggle="pill" href="#pills-Tank" role="tab" aria-controls="pills-Tank" aria-selected="true">Tank</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" id="pills-Physical-tab" data-toggle="pill" href="#pills-Physical" role="tab" aria-controls="pills-" aria-selected="false">Physical</a>
            </li>
         </ul>
      </b>
      <div class="tab-content" id="pills-tabContent">
         <div class="tab-pane fadeshow show active" id="pills-Tank" role="tabpanel" aria-labelledby="pills-Tank-tab">
            <p>nmm</p>
         </div>
         <div class="tab-pane fade" id="pills-Physical" role="tabpanel" aria-labelledby="pills-Physical-tab">
            <p>nmm</p>
         </div>
      </div>
   </div>
</div>
<div class="row text-white bg-dark">
   <div class="col-lg-12">
      <h2>Skills</h2>
   </div>
   <ul>
      <li class="list-group-item bg-dark">Tai Chi<br>After using a skill, Akai will gain a shield that absorbs up to 6% of his Max HP. Lasts 2s. The effect activates every 2.5s.</li>
      <li class="list-group-item bg-dark">Thousand Pounder<br>Akai jumps towards a designated location. Upon landing, he deals 300<font color='#D58E1F'>( +50% Total Physical ATK)</font> <font color='#C53535'>(Physical Damage)</font> to enemy units, and slows them by 30% for 2s. When Akai deals damage to enemies marked with <font color='#404495'>(Blender)</font>, they will get stunned for extra 1s.</li>
      <li class="list-group-item bg-dark">Blender<br>Akai fires a frog-shaped wave in the designated direction. The wave explodes upon hitting enemies or reaching its max travel distance, dealing 350<font color='#D58E1F'>( +120% Extra Physical ATK)</font> <font color='#C53535'>(Physical Damage)</font> to enemies and marking them for 5s. Akai's Basic Attack on marked targets deals extra 5% <font color='#C53535'>(Physical Damage)</font> of Akai's Max HP.</li>
   </ul>
</div>
		 


<!-- {{ partial "disqus.html" . }} -->
<br/><br/><br/><br/>

         </div>
		 

      <!-- </div> -->
	  


                 	  
	  
   </div>

<!-- {{ partial "item-modal.html" . }} -->

 {{ partial "bottom-nav.html" . }} 
 
        {{ partial "footer.html" . }}
	 
  </body>

</html>
