
         {{ partial "head.html" . }}




<!-- <img src="image.png" onerror="imgError(this);"/> -->

<div class="tagbanner">
{{ $title := .Title | lower }}

<script>
function imgError(image) {
    image.onerror = "";
    image.src = "https://res.cloudinary.com/drlhixyyd/image/fetch/w_1000,h_200,c_fill,g_face,f_auto/https://cdn2-build.mobagenie.my.id/p/images/banner/player/full/blank.jpg";
    return true;
}
</script>

{{ if eq $title "top-global" }}
  <i><img src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_1000,h_200,c_fill,g_face,f_auto/https://cdn2-build.mobagenie.my.id/p/images/banner/flat/TOP-GLOBAL-ML.jpg" alt="{{ .Title }}" style="width:100%"></i>
{{ else if eq $title "pro-player" }}
  <i><img src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_1000,h_200,c_fill,g_face,f_auto/https://cdn2-build.mobagenie.my.id/p/images/banner/flat/PRO-PLAYER-ML.jpg" alt="{{ .Title }}" style="width:100%"></i>
{{ else if eq $title "youtuber" }}
  <i><img src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_1000,h_200,c_fill,g_face,f_auto/https://cdn2-build.mobagenie.my.id/p/images/banner/flat/YOUTUBER-ML.jpg" alt="{{ .Title }}" style="width:100%"></i>
{{ else }}
  <i><img onerror="imgError(this);" src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_1000,h_200,c_fill,g_face,f_auto/https://cdn2-build.mobagenie.my.id//p/images/banner/full/{{ $title | urlize }}.jpg" alt="{{ .Title }}" style="width:100%"></i>
{{ end }}
  
  <!-- <button class="btn btn-danger btn-sm" onclick="openModal();currentSlide(1)"><i class="material-icons">fullscreen</i></button> -->
</div>

  <body>

  <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
  
      {{ partial "top-nav.html" . }}

   <div class="be-content">
      <div class="container" style="max-width:1500px;margin:40px auto;font-size:1.2rem;">
	  
          <!-- <h1 class="entry-title"> -->
            <!-- {{ .Title }}  <!-- title, in this case it will be "Archive page" -->
          <!-- </h1> -->
		  
		{{ partial "post-grid-taxonomy.html" . }}
       
         </div>
      </div>
   </div>

{{ partial "bottom-nav.html" . }}
                   


        {{ partial "footer.html" . }}

	 
  </body>

</html>
