<div class="progress bg-dark" style="height: 30px;padding-bottom:5px;" >
  <div class="progress-bar" role="progressbar" style="width: {{ .Get "Percentage1" }}%;" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">{{ .Get "Label1" }} ( {{ .Get "Percentage1" }}% )</div>
</div>

<div class="progress bg-dark" style="height: 30px;padding-bottom:5px;" >
  <div class="progress-bar" role="progressbar" style="width: {{ .Get "Percentage2" }}%;" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">{{ .Get "Label2" }} ( {{ .Get "Percentage2" }}% )</div>
</div>

<div class="progress bg-dark" style="height: 30px;padding-bottom:5px;" >
  <div class="progress-bar" role="progressbar" style="width: {{ .Get "Percentage3" }}%;" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">{{ .Get "Label3" }} ( {{ .Get "Percentage3" }}% )</div>
</div>
