
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <header class="header">
  <div class="container">
    <nav class="bottom-nav">
	
      <!-- <div class="bottom-nav-item active"> -->
	  <div class="bottom-nav-item">
	  <a href="/index.html">
        <div class="bottom-nav-link">
          <i class="fas fa-home fa-2x"></i>
          <span>Home</span>
        </div>
	   </a>
      </div>
	  
      <div class="bottom-nav-item">
	  <a href="/latest.html">	  
        <div class="bottom-nav-link">
          <i class="fas fa-clock fa-2x"></i>
          <span>LATEST HERO</span>
        </div>
		</a>
      </div>
	  
      <div class="bottom-nav-item">
	  	  <a href="/meta.html">
        <div class="bottom-nav-link">
          <i class="fas fa-star fa-2x"></i>
          <span>META HERO</span>
        </div>
		</a>
      </div>
      <div class="bottom-nav-item">
	  	  <a href="/pro-player.html">
        <div class="bottom-nav-link">
          <i class="fas fa-user fa-2x"></i>
          <span>PRO PLAYER</span>
        </div>
		</a>
      </div>
      <div class="bottom-nav-item">
	  	  <a href="/player.html">
        <div class="bottom-nav-link">
          <i class="fas fa-users fa-2x"></i>
          <span>ALL PLAYER</span>
        </div>
		</a>
      </div>


    </nav>
  </div>
</header>

