 
            
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">  <img src="images/buildk/natan.png" alt="" class="img-fluid rounded-circle" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Natan</h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="natan-build-107/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">						   				 
                    <div class="badge badge-rounded bg-green" style="position:relative;top:-23px;left:-15px;font-size:63%;border-radius:3px;">
                    <span class="simge" data-tippy-animation="Fade" data-tippy-delay="180"data-tippy-delay="200" data-tippy="This champion in meta">Meta
                    </span>                             

                    </div>


                    <div class="circle circle2" style="margin-top:-24px;"></div>
                    <img src="images/buildk/phoveus.png" alt="" class="img-fluid rounded-circle"  style="margin-top: -75px" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Phoveus 
                                                                
                                          
                    <abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
                    <b><label style=color:#FF0></label>This build verified by Professional player">

                                                                  
                    <img src="images/symbols/d.png" alt="ticket" id="resim2" width="30px" height="27px" /></abbr></h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="phoveus-build-106/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">  <img src="images/buildk/gloo.png" alt="" class="img-fluid rounded-circle" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Gloo</h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="gloo-build-105/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">  <img src="images/buildk/beatrix.png" alt="" class="img-fluid rounded-circle" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Beatrix</h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="beatrix-build-104/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">  <img src="images/buildk/yve.png" alt="" class="img-fluid rounded-circle" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Yve</h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="yve-build-103/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">						   				 
                    <div class="badge badge-rounded bg-green" style="position:relative;top:-23px;left:-15px;font-size:63%;border-radius:3px;">
                    <span class="simge" data-tippy-animation="Fade" data-tippy-delay="180"data-tippy-delay="200" data-tippy="This champion in meta">Meta
                    </span>                             

                    </div>


                    <div class="circle circle2" style="margin-top:-24px;"></div>
                    <img src="images/buildk/paquito.png" alt="" class="img-fluid rounded-circle"  style="margin-top: -75px" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Paquito 
                                                                
                                          
                    <abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
                    <b><label style=color:#FF0></label>This build verified by Professional player">

                                                                  
                    <img src="images/symbols/d.png" alt="ticket" id="resim2" width="30px" height="27px" /></abbr></h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="paquito-build-102/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">						   				 
                    <div class="badge badge-rounded bg-green" style="position:relative;top:-23px;left:-15px;font-size:63%;border-radius:3px;">
                    <span class="simge" data-tippy-animation="Fade" data-tippy-delay="180"data-tippy-delay="200" data-tippy="This champion in meta">Meta
                    </span>                             

                    </div>


                    <div class="circle circle2" style="margin-top:-24px;"></div>
                    <img src="images/buildk/mathilda.png" alt="" class="img-fluid rounded-circle"  style="margin-top: -75px" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Mathilda 
                                                                
                                          
                    <abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
                    <b><label style=color:#FF0></label>This build verified by Professional player">

                                                                  
                    <img src="images/symbols/d.png" alt="ticket" id="resim2" width="30px" height="27px" /></abbr></h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="mathilda-build-101/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">						   				 
                    <div class="badge badge-rounded bg-green" style="position:relative;top:-23px;left:-15px;font-size:63%;border-radius:3px;">
                    <span class="simge" data-tippy-animation="Fade" data-tippy-delay="180"data-tippy-delay="200" data-tippy="This champion in meta">Meta
                    </span>                             

                    </div>


                    <div class="circle circle2" style="margin-top:-24px;"></div>
                    <img src="images/buildk/benedetta.png" alt="" class="img-fluid rounded-circle"  style="margin-top: -75px" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Benedetta</h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="benedetta-build-100/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">						   				 
                    <div class="badge badge-rounded bg-green" style="position:relative;top:-23px;left:-15px;font-size:63%;border-radius:3px;">
                    <span class="simge" data-tippy-animation="Fade" data-tippy-delay="180"data-tippy-delay="200" data-tippy="This champion in meta">Meta
                    </span>                             

                    </div>


                    <div class="circle circle2" style="margin-top:-24px;"></div>
                    <img src="images/buildk/brody.png" alt="" class="img-fluid rounded-circle"  style="margin-top: -75px" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Brody 
                                                                
                                          
                    <abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
                    <b><label style=color:#FF0></label>This build verified by Professional player">

                                                                  
                    <img src="images/symbols/d.png" alt="ticket" id="resim2" width="30px" height="27px" /></abbr></h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="brody-build-99/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">  <img src="images/buildk/barats.png" alt="" class="img-fluid rounded-circle" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Barats 
                                                                
                                          
                    <abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
                    <b><label style=color:#FF0></label>This build verified by Professional player">

                                                                  
                    <img src="images/symbols/d.png" alt="ticket" id="resim2" width="30px" height="27px" /></abbr></h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="barats-build-98/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">  <img src="images/buildk/khaleed.png" alt="" class="img-fluid rounded-circle" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Khaleed 
                                                                
                                          
                    <abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
                    <b><label style=color:#FF0></label>This build verified by Professional player">

                                                                  
                    <img src="images/symbols/d.png" alt="ticket" id="resim2" width="30px" height="27px" /></abbr></h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="khaleed-build-97/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                    
                    <div class="project">
                    <div class="row bg-white has-shadow">
                    <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                    <div class="image">  <img src="images/buildk/yuzhong.png" alt="" class="img-fluid rounded-circle" width="100px" height="100px">
                    </div>
                    <div class="text">
                    <h3 class="h4">Yuzhong 
                                                                
                                          
                    <abbr data-tippy-animation="Fade" data-tippy-delay="180"  data-tippy-delay="200" data-tippy="
                    <b><label style=color:#FF0></label>This build verified by Professional player">

                                                                  
                    <img src="images/symbols/d.png" alt="ticket" id="resim2" width="30px" height="27px" /></abbr></h3><small></small>
                    </div>
                    </div>
                                    
                    <div class="project-date"><span class="hidden-sm-down">  <a href="yuzhong-build-96/" class="btn btn-primary">Show</a></span></div>
                    </div>
                    </div>
                                        <br>
					
                    <center><div class="project-date"><span class="hidden-sm-down">  <a href="champions/" class="btn btn-primary">Show All Champions</a></span></div></center>
							 
  