<div class="above-post-widget section" id="above-post-widget"><div class="widget FeaturedPost" data-version="1" id="FeaturedPost1">
<h2 class="title">Featured Post</h2>
<div class="post-summary">
<small><h3><a href="/7-alasan-kenapa-lol-wild-rift-wajib-dimainkan-pemain-moba-mobile/">7 Alasan Wajib Main LOL:WR</a></h3></small>
<img class="image" height="450" layout="responsive" src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_360,h_200,c_fill,g_face,f_auto/https://cdn.statically.io/img/lh3.googleusercontent.com/-OrELbcpZnBI/X3cGjtGRxiI/AAAAAAAABXc/T9zFsNzZKEc1-X4XNvd1ByyDYeuKEd10wCLcBGAsYHQ/s1600/IMG_ORG_1601635839971.jpeg" width="600">
</div>
</div></div>