          <!-- Page Footer-->
		  
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/js/jquery.overlayScrollbars.min.js'></script>

<script src='../../js/necesary.js'></script>

<script src="../../js/lunr.js"></script>
<!-- <script src="https://www.josephearl.co.uk/js/lunr.js"></script> -->
<script src="../../js/search.min.js"></script>

<link href='../../css/search.css' rel='stylesheet' type='text/css'/>
<div id="search-overlay">
    
    <section class="wrapper">
        <form>
           <!--  <p class="search-title">Search</p> -->
            <p class="search-input-line"><input type="text" maxlength="200" id="search-input" name="query" placeholder="type Hero or Player name.." /></p>
			<input class="submit-email" type="submit" value="CLOSE" id="search-close">
			
            <p class="search-help">
			<label for="search-query">Press <strong class="key">ESC</strong> to close</label>
			
			</p>
			
			<!-- <i class="icon-cancel-circled" aria-hidden="true" id="search-close">CLOSE</i> -->
			
            <!-- <p class="search-help"> -->
			<!-- <label for="search-query">Press <strong class="key">ESC</strong> to close</label> -->
			
			<!-- </p> -->
        </form>
        <div id="search-results"></div>
    </section>
</div>

