<div class='clear'></div>
</div>
<!-- wrapper end -->
<div class='sticky-stop'></div>
<div id='footer-widget-container'>
<div class='footer-widget section' id='footer-widget'><div class='widget HTML' data-version='1' id='HTML1'>
<div class='widget-content'>
<!-- social media button start -->
		  <ul class='nav-social'>
			  <!-- <li><a class='fcb' href='https://www.facebook.com/Moba-Genie-399118817582592' rel='nofollow' target="_blank"><i class='fa fa-facebook-square fa-2x'/></i></a> -->
			  </li>  
			  <li><a class='igicon' href='https://www.instagram.com/genieuporganizer' rel='nofollow' target="_blank"><i class='fa fa-instagram fa-2x'/></i></a>
			  </li>
			  
			  <!-- <li><a class='twt' href='https://twitter.com/mobagenie' rel='nofollow' target="_blank"><i class='fa fa-twitter-square fa-2x'/></i></a>  -->
			  <!-- </li> -->
			  <li><a class='ytb' href='https://www.youtube.com/channel/UCoD4l6g55egy3RIEFmBXT3g' rel='nofollow' target="_blank"><i class='fa fa-youtube fa-2x'/></i></a> 
			  </li>
		  </ul>
		  <!-- social media button end -->
</div>
</div>
</div>
</div>
<!-- footer nav menu -->
<div id='footer-navmenu'>
<nav id='footer-navmenu-container'>
<!-- social media button start -->
<!-- <ul class='nav-social'> <li><a class='igicon' href='https://www.instagram.com/genieuporganizer' target='_blank' rel='nofollow'><i class='fa fa-instagram fa-2x'></i></a> </li> <li><a class='twt' href='https://www.twitter.com/mobagenie' target='_blank' rel='nofollow'><i class='fa fa-twitter-square fa-2x'></i></a> </li> <li><a class='ytb' href='https://www.youtube.com/channel/UCKsy1QJDIBELSn7VOvyo17g' target='_blank' rel='nofollow'><i class='fa fa-youtube fa-2x'></i></a> </li> <li><a class='fcb' href='https://www.facebook.com/Moba-Genie-399118817582592' target='_blank' rel='nofollow'><i class='fa fa-facebook-square fa-2x'></i></a> </li> </ul> -->
<!--social media button end -->
<!-- menu navigasi footer start -->
<ul>
<li><a href='{{ .Site.Params.rooturl }}/genieuporganizer'>HOME</a></li>
<li><a href='{{ .Site.Params.rooturl }}/genieuporganizer/weekly-schedule/'>Schedule</a></li>
<li><a href='{{ .Site.Params.rooturl }}/genieuporganizer/genieup-mlbb-weekly-battle-week-4/'>UPCOMING EVENT WEEK #4</a></li>
<!-- <li><a href='#'>About</a></li> <li><a href='#'>Contact</a></li> <li><a href='#'>Privacy Policy</a></li> <li><a href='#'>Disclaimer</a></li> -->
</ul>
<!-- menu navigasi footer end -->
</nav>
</div>
<!-- footer nav menu end -->
<!-- footer wrapper start -->
<div id='footer-container'>
	
<footer id='footer-wrapper'>
		
<br>
GENIEup Organizer adalah Platform Online Tournament sekaligus Event Organizer yang berfokus pada Tournament dan Scrim Game Mobile Legends. 
		</br><br>
		
		<a href='{{ .Site.Params.rooturl }}/genieuporganizer/comment-policy'>Comment Policy / Chat</a> &#x2022; <a href='/genieuporganizer/contact/'>Contact</a>
</footer>

<!-- sub footer wrapper start -->
<div id='footer-container'>
<footer id='footer-wrapper'>
&copy; 2018-2021 {{ now.Format ""}} GENIEup Organizer [BETA v1.0.0]
</footer>
</div>
<!-- sub footer wrapper end -->

</div>
<!-- footer wrapper end -->

<div class='back-to-top'><a href='#' id='back-to-top' title='back to top'>
<i class='fa fa-chevron-up'></i>
</a></div>
<link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500' rel='stylesheet' type='text/css'/>
<link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>

<link href='{{ .Site.Params.cdnurl }}/css/search.css' rel='stylesheet' type='text/css'/>
<div id="search-overlay">
    
    <section class="wrapper">
        <form>
           <!--  <p class="search-title">Search</p> -->
            <p class="search-input-line"><input type="text" maxlength="200" id="search-input" name="query" placeholder="Type to search.." /></p>
			<input class="submit-email" type="submit" value="CLOSE" id="search-close">
			
            <p class="search-help">
			<label for="search-query">Press <strong class="key">ESC</strong> to close</label>
			
			</p>
			
			<!-- <i class="icon-cancel-circled" aria-hidden="true" id="search-close">CLOSE</i> -->
			
            <!-- <p class="search-help"> -->
			<!-- <label for="search-query">Press <strong class="key">ESC</strong> to close</label> -->
			
			<!-- </p> -->
        </form>
        <div id="search-results"></div>
    </section>
</div>

<!-- <div id="searchfs" class="open">
<button class="close" type="button">×</button>
<form action="/search" id="search-form" method="get">
<input name="q" placeholder="type to search" type="search" value="">
<input name="max-results" type="hidden" value="7">
</form>
</div> -->