<!-- navbar menu start -->
<div class='navbar no-items section' id='navbar'>
</div>
<!-- navbar menu end -->
<!-- header wrapper start -->
<div id='header-container'>
<header id='header-wrapper'>
<div class='header section' id='header'><div class='widget Header' data-version='1' id='Header1'>
<div id='header-inner'>
<a href='/' style='display: block'>
<img alt="Moba Genie" height="60px; " id="Header1_headerimg" src="/img/MOBAGENIELOGO.png" style="display: block" width="340px; ">
</a>
</div>
</div></div>
<nav id='cssmenu'>
<div id='head-mobile'></div>
<div class='button' id='menu-button'></div>
<!-- menu navigasi header start -->
<ul>

<li><a href='#'>eSports</a>
<ul>
<li><a href='/tags/esports-news'>eSports News</a></li>
<li><a href='/tags/esports-team'>eSports Team</a></li>
<li><a href='/player/player-index/'>eSports Player</a></li>
<li><a href='/tags/esports-statistic'>Esports Statistic</a></li>
<li><a href='/esports-chart'>eSports Chart</a></li>
<li><a href='/tags/esports-leaderboard'>eSports Leaderboard</a></li>
<li><a href='/tags/esports-moba'>Esports MOBA</a></li>
<li><a href='/tags/esports-battle-royale'>Esports Battle Royale</a></li>
<li><a href='/tags/esports-fps'>Esports FPS</a></li>
</ul>
</li>

<li><a href='#'>eGame</a>
<ul>
<li><a href='/tags/esports-pubg-mobile'>Esports PUBG Mobile</a></li>
<li><a href='/tags/esports-mobile-legends'>Esports Mobile Legends</a></li>
<li><a href='/tags/esports-free-fire'>Esports Free Fire</a></li>
<li><a href='/tags/esports-pubg'>Esports PUBG</a></li>
<li><a href='/tags/esports-dota-2'>Esports Dota 2</a></li>
<li><a href='/tags/esports-cs-go'>Esports CS:GO</a></li>
<li><a href='/tags/esports-point-blank'>Esports Point Blank</a></li>
<li><a href='/tags/esports-arena-of-valor'>Esports AOV</a></li>
<li><a href='/tags/esports-vainglory'>Esports Vainglory</a></li>

</ul>
</li>

<li><a href='#'>Mobile</a>
<ul>
<li><a href='/categories/pubg-mobile'>PUBG Mobile</a></li>
<li><a href='/categories/mobile-legends'>Mobile Legends</a></li>
<li><a href='/categories/free-fire'>Free Fire</a></li>
<li><a href='/categories/arena-of-valor'>Arena of Valor</a></li>
</ul>
</li>

<li><a href='#'>PC</a>
<ul>
<li><a href='/categories/pubg'>PUBG</a></li>
<li><a href='/categories/fortnite'>Fortnie</a></li>
<li><a href='/categories/apex-legends'>Apex Legends</a></li>
<li><a href='/categories/dota-2'>Dota 2</a></li>
</ul>
</li>
<li><a href='#'>Genre</a>
<ul>
<li><a href='/tags/battle-royale'>Battle Royale</a></li>
<li><a href='/tags/battle-grounds'>Battle Grounds</a></li>
<li><a href='/tags/moba'>MOBA</a></li>
<li><a href='/tags/fps'>FPS</a></li>
<li><a href='/tags/action'>Action</a></li>
<li><a href='/tags/adventure'>Adventure</a></li>
</ul>
</li>
<li><a href='#'>Console</a>
<ul>
<li><a href='/tags/play-station-4'>Play Station 4</a></li>
<li><a href='/tags/play-station-3'>Play Station 3</a></li>
<li><a href='/tags/play-station-Vita'>Play Station Vita (PSV)</a></li>
<li><a href='/tags/play-station-Portable'>Play Station Portable (PSP)</a></li>
<li><a href='/tags/play-station-2'>Play Station 2</a></li>
<li><a href='/tags/play-station-1'>Play Station 1</a></li>
<li><a href='/tags/xbox-one'>X Box One</a></li>
<li><a href='/tags/xbox-360'>X Box 360</a></li>
<li><a href='/tags/nintendo-switch'>Nintendo Switch</a></li>
</ul>
</li>

<li><a href='#'>Link</a>
<ul>
<li><a href='https://www.pubg.com/' rel='nofollow' target='_blank'>PUBG</a></li>
<li><a href='https://www.pubgmobile.com/' rel='nofollow' target='_blank'>PUBG Mobile</a></li>
<li><a href='https://www.pubgonline.com/' rel='nofollow' target='_blank'>PUBG Events, Tournaments, Updates, Forums</a></li>
<li><a href='https://m.mobilelegends.com/' rel='nofollow' target='_blank'>Mobile Legends: Bang Bang</a></li>
<li><a href='https://www.arenaofvalor.com/' rel='nofollow' target='_blank'>Arena of Valor</a></li>
<li><a href='https://aov.garena.co.id/' rel='nofollow' target='_blank'>Garena AOV: Home (ID)</a></li>
<li><a href='https://www.epicgames.com/fortnite/home'>Fortnie</a></li>
<li><a href='http://ff.garena.com/' rel='nofollow' target='_blank'>Free Fire</a></li>
<li><a href='https://blog.counter-strike.net/' rel='nofollow' target='_blank'>Counter-Strike: Global Offensive</a></li>
<li><a href='http://www.dota2.com/' rel='nofollow' target='_blank'>Dota 2</a></li>
<li><a href='https://lol.garena.co.id/' rel='nofollow' target='_blank'>League Of Legends Indonesia</a></li>
<li><a href='https://www.ea.com/games/apex-legends'>Apex Legends</a></li>
</ul>
</li>

<li><a href='#'>More</a>
<ul>
<li><a href='/categories/tournament'>Tournament</a></li>
<li><a href='/categories/video'>Video</a></li>
<li><a href='/categories/youtube-gaming'>Youtube Gaming</a></li>
<li><a href='/categories/twitch-gaming'>Twitch Gaming</a></li>
<li><a href='/categories/facebook-gaming'>Facebook Gaming</a></li>
</ul>
</li>
</ul>
<!-- <ul> <li><a href='#'>Menu</a></li> <li><a href='#'>Menu</a></li> <li><a href='#'>Menu</a></li> <li><a href='#'>Menu</a> <ul> <li><a href='#'>SubMenu1</a></li> <li><a href='#'>SubMenu2</a></li> <li><a href='#'>SubMenu3</a></li> </ul> </li> <li><a href='#'>Menu</a> <ul> <li><a href='#'>SubMenu1</a></li> <li><a href='#'>SubMenu2</a></li> <li><a href='#'>SubMenu3</a></li> <li><a href='#'>SubMenu4</a></li> </ul> </li> </ul> -->
<!-- menu navigasi header end -->



</nav>

<div class='search-icon'><a href='#search-input' class='search-trigger'><i class='fa fa-search'></i></a></div>


<!-- search original -->


<!-- <div class='search-icon'>
<a href='#searchfs'><i class='fa fa-search'></i></a>
</div>
<div id='searchfs'>
<button class='close' type='button'>&#215;</button>
<form action='/search' id='search-form' method='get'>
<input name='q' placeholder='type to search' type='search' value=''/>
<input name='max-results' type='hidden' value='7'/>
</form>
</div> -->


<div class='clear'></div>
</header>
</div>
<!-- header wrapper end -->
<!-- wrapper start -->
<div id='wrapper'>
<div class='bellow-header-widget no-items section' id='bellow-header-widget'>
</div>
<div class='clear'></div>