<!-- navbar menu start -->
<div class='navbar no-items section' id='navbar'>
</div>
<!-- navbar menu end -->
<!-- header wrapper start -->
<div id='header-container'>
<header id='header-wrapper'>
<div class='header section' id='header'><div class='widget Header' data-version='1' id='Header1'>
<div id='header-inner'>
<a href='/genieuporganizer' style='display: block'>
<img alt="GENIEup Organizer" height="60px; " id="Header1_headerimg" src="/img/MOBAGENIELOGO.png" style="display: block" width="340px; ">
</a>
</div>
</div></div>
<nav id='cssmenu'>
<div id='head-mobile'></div>
<div class='button' id='menu-button'></div>
<!-- menu navigasi header start -->
<ul>

<li><a href='#'>GENIEup Organizer</a>
<ul>
<li><a href='/genieuporganizer/weekly-schedule/'>Weekly Schedule</a></li>
<li><a href='/tags/esports-team'>eSports Team</a></li>
<li><a href='/player/player-index/'>eSports Player</a></li>
</ul>
</li>

<li><a href='#'>More</a>
<ul>
<li><a href='/categories/tournament'>Tournament</a></li>
<li><a href='/categories/video'>Video</a></li>
<li><a href='/categories/youtube-gaming'>Youtube Gaming</a></li>
<li><a href='/categories/twitch-gaming'>Twitch Gaming</a></li>
<li><a href='/categories/facebook-gaming'>Facebook Gaming</a></li>
</ul>
</li>
</ul>
<!-- <ul> <li><a href='#'>Menu</a></li> <li><a href='#'>Menu</a></li> <li><a href='#'>Menu</a></li> <li><a href='#'>Menu</a> <ul> <li><a href='#'>SubMenu1</a></li> <li><a href='#'>SubMenu2</a></li> <li><a href='#'>SubMenu3</a></li> </ul> </li> <li><a href='#'>Menu</a> <ul> <li><a href='#'>SubMenu1</a></li> <li><a href='#'>SubMenu2</a></li> <li><a href='#'>SubMenu3</a></li> <li><a href='#'>SubMenu4</a></li> </ul> </li> </ul> -->
<!-- menu navigasi header end -->



</nav>

<div class='search-icon'><a href='#search-input' class='search-trigger'><i class='fa fa-search'></i></a></div>


<!-- search original -->


<!-- <div class='search-icon'>
<a href='#searchfs'><i class='fa fa-search'></i></a>
</div>
<div id='searchfs'>
<button class='close' type='button'>&#215;</button>
<form action='/search' id='search-form' method='get'>
<input name='q' placeholder='type to search' type='search' value=''/>
<input name='max-results' type='hidden' value='7'/>
</form>
</div> -->


<div class='clear'></div>
</header>
</div>
<!-- header wrapper end -->
<!-- wrapper start -->
<div id='wrapper'>
<div class='bellow-header-widget no-items section' id='bellow-header-widget'>
</div>
<div class='clear'></div>