<!-- navbar menu start -->
<div class='navbar no-items section' id='navbar'>
</div>
<!-- navbar menu end -->
<!-- header wrapper start -->
<div id='header-container'>
<header id='header-wrapper'>
<div class='header section' id='header'><div class='widget Header' data-version='1' id='Header1'>
<div id='header-inner'>
<a href='/' style='display: block'>
<img alt="Moba Genie" height="60px; " id="Header1_headerimg" src="/img/MOBAGENIELOGO.png" style="display: block" width="340px; ">
</a>
</div>
</div></div>
<nav id='cssmenu'>
<div id='head-mobile'></div>


</nav>


<div class='clear'></div>
</header>
</div>
<!-- header wrapper end -->
<!-- wrapper start -->
<div id='wrapper'>
<div class='bellow-header-widget no-items section' id='bellow-header-widget'>
</div>
<div class='clear'></div>