   <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="mlbuild/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="mlbuild/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="mlbuild/vendor/jquery.cookie/jquery.cookie.js"> </script>
     <!-- <script src="mlbuild/vendor/chart.js/Chart.min.js"></script>-->
    <script src="mlbuild/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="mlbuild/js/front.js"></script>