<script type="application/ld+json">

    {

      "@context": "https://schema.org",

      "@type": "BreadcrumbList",

      "itemListElement": [{

    "@type": "ListItem",

    "position": 1,

    "name": "Home",

    "item": "https://build.mobagenie.my.id/"

  },{

        "@type": "ListItem",

        "position":  2 ,

        "name": "Latest",

        "item": "https://build.mobagenie.my.id/latest"

      },{

        "@type": "ListItem",

        "position":  3 ,

        "name": "META",

        "item": "https://build.mobagenie.my.id/meta"

      },{

        "@type": "ListItem",

        "position":  4 ,

        "name": "Pro Player",

        "item": "https://build.mobagenie.my.id/pro-player"

      },{

        "@type": "ListItem",

        "position":  5 ,

        "name": "All Player",

        "item": "https://build.mobagenie.my.id/player"

      },{

        "@type": "ListItem",

        "position":  6 ,

        "name": "Equipment",

        "item": "https://build.mobagenie.my.id/equipment"

      }



]

    }

    </script>