
{{ $Title := .Title | lower }}

{{ if eq $Title "top-global" }}
      <div class="row text-white bg-dark">
{{ else if eq $Title "pro-player" }}
      <div class="row text-white bg-dark">
{{ else if eq $Title "youtuber" }}
      <div class="row text-white bg-dark">
{{ else }}
      <div class="row text-white bg-dark">	  
{{ end }}

      <!-- <div class="row text-white bg-"> -->
      	
        <div class="col-lg-12 bg-primary">

<h2>

{{ if eq $Title "top-global" }}
<a href="{{ .RelPermalink }}"><button class="btn btn-danger btn-dark" data-container="body" data-toggle="popover" data-placement="top" data-content=""><i class="fas fa-cog fa-lg"></i> {{ .Title | upper }} BUILD</button></a>
{{ else if eq $Title "pro-player" }}
<a href="{{ .RelPermalink }}"><button class="btn btn-danger btn-dark" data-container="body" data-toggle="popover" data-placement="top" data-content=""><i class="fas fa-cog fa-lg"></i> {{ .Title | upper }} BUILD</button></a>
{{ else if eq $Title "youtuber" }}
<a href="{{ .RelPermalink }}"><button class="btn btn-danger btn-dark" data-container="body" data-toggle="popover" data-placement="top" data-content=""><i class="fas fa-cog fa-lg"></i> {{ .Title | upper }} BUILD</button></a>
{{ else }}
<a href="{{ .RelPermalink }}"><button class="btn btn-danger btn-dark" data-container="body" data-toggle="popover" data-placement="top" data-content=""><i class="fas fa-cog fa-lg"></i> {{ .Title | upper }} BUILD</button></a>
{{ end }}


</h2>

</div>
     
<div class="col-lg-12">

            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 50 }}
            {{ range $paginator.Pages }}  
			
{{ if eq $Title "top-global" }}
<div class="badge badge-dark" style="margin:5px;" data-wow-delay=".5s" href="{{ .RelPermalink }}">
{{ else if eq $Title "pro-player" }}
<div class="badge badge-dark" style="margin:5px;" data-wow-delay=".5s" href="{{ .RelPermalink }}">
{{ else if eq $Title "youtuber" }}
<div class="badge badge-dark" style="margin:5px;" data-wow-delay=".5s" href="{{ .RelPermalink }}">
{{ else }}
<div class="badge badge-dark" style="margin:5px;" data-wow-delay=".5s" href="{{ .RelPermalink }}">
{{ end }}			


{{if isset .Params "images" }}
{{ $images_set := index .Params.images  | absURL }}

<a href="{{ .RelPermalink }}"><img src="https://cdn.statically.io/img/build.mobagenie.my.id/f=auto/p/images/buildk/{{ .Params.heroname | lower }}.png" alt="{{ .Params.heroname }}" width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  /></a>
		
	<!-- <img src="{{ . | absURL }}" alt="" class="img-fluid rounded-circle" width="100px" height="100px"> -->

	{{ end }}
	


<!-- <b class="badge badge-primary"  style="color:">{{ index .Params.heroname }}</b> -->
</br></br>

{{ if eq $Title "top-global" }}
<p href="#" type="button" class="btn btn-primary  btn-sm" data-toggle="popover" data-toggle="popover" data-placement="top" st yle="background:#009578;" data-content="{{ .Params.post_highlight }}.">
  {{ .Params.playername | upper }}
</p>
{{ else if eq $Title "pro-player" }}
<p href="#" type="button" class="btn btn-primary  btn-sm" data-toggle="popover" data-toggle="popover" data-placement="top" st yle="background:#009578;" data-content="{{ .Params.post_highlight }}.">
  {{ .Params.playername | upper }}
</p>
{{ else if eq $Title "youtuber" }}
<p href="#" type="button" class="btn btn-primary  btn-sm" data-toggle="popover" data-toggle="popover" data-placement="top" st yle="background:#009578;" data-content="{{ .Params.post_highlight }}.">
  {{ .Params.playername | upper }}
</p>
{{ else  }}
<p href="#" type="button" class="btn btn-primary  btn-sm" data-toggle="popover" data-toggle="popover" data-placement="top" st yle="background:#009578;" data-content="{{ .Params.post_highlight }}.">
  {{ .Params.playername | upper }}
</p>
{{ end }}



</div>

            {{ end }}
			
      <!-- <button type="button"  style="margin:2px;" class="btn btn-primary" data-toggle="modal" data-target="#RaptorMacheteData"><img src="https://cdn.statically.io/img/cdn2-build.mobagenie.my.id/f=auto/p/images/items/iname/RaptorMachete.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /><p>hghghghgh</p></button> -->
    
 </div>



      </div>
        
<div class="container">
    {{ partial "pagination.html" . }}
</div>
