
      <div class="row text-white bg-dark">
      	
        <div class="col-lg-12  bg-primary">
<h2><p class="btn btn-dark"><i class="fas fa-user-edit fa-lg"></i> RECENT BUILD</p></h2>
</div>
        <div class="col-lg-12">
		
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") 10 }}
          <!-- {{ $paginator := .Paginate (where .Site.Pages "Type" "post") 10 }}-->
            {{ range $paginator.Pages}}  

  {{ range .Params.categories }}
	
<!-- <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a>	 -->
	
    {{ end }} 


{{ if (not (isset .Params "profileplayer")) | or (eq .Params.profileplayer "") }}
	
<div class="badge badge-dark" style="margin:5px;" data-wow-delay=".5s" href="{{ .RelPermalink }}">

    {{ partial "pro-player-badge-spiner.html" . }}

{{if isset .Params "images" }}
{{ $images_set := index .Params.images  | absURL }}



<a href="{{ .RelPermalink }}"><img src="https://cdn.statically.io/img/cdn2-build.mobagenie.my.id/f=auto/p/images/buildk/{{ .Params.heroname | lower }}.png" width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  /></a>
		
	<!-- <img src="{{ . | absURL }}" alt="" class="img-fluid rounded-circle" width="100px" height="100px"> -->

	{{ end }}
	


<!-- <b class="badge badge-primary"  style="color:">{{ index .Params.heroname }}</b> -->
</br></br>
<p type="button" class="btn btn-primary btn-xs" data-toggle="popover" data-toggle="popover" data-placement="top" sty le="background:#009578;" data-title="{{ .Params.title | upper }}" data-content="{{ .Params.post_highlight }}.">
  <i class="fas fa-info fa-lg"></i> INFO
</p></div>

{{ else }}

{{ end }}

            {{ end }}

<br/><br/>
    {{ partial "pagination-index.html" . }}
<br/>			
</div>


			
        </div>
<br/><br/>



