<div class="modal fade" id="heronameSkills0Data" tabindex="-1" role="dialog" aria-labelledby="heroname" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="heroname"><img src="{{ .Site.Params.cdn }}/p/images/skills/heroname/0.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /> Skills 1</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
         </div>
         <div class="modal-body">
			 SkillDesc1 
         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
<!--- <button type="button" class="btn btn-primary">Save changes</button> --->
 </div>
      </div>
   </div>
</div>

<div class="modal fade" id="heronameSkills1Data" tabindex="-1" role="dialog" aria-labelledby="heroname" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="heroname"><img src="{{ .Site.Params.cdn }}/p/images/skills/heroname/1.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /> Skills 2</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
         </div>
         <div class="modal-body">
			skilldesc2
         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
<!--- <button type="button" class="btn btn-primary">Save changes</button> --->
 </div>
      </div>
   </div>
</div>	

<div class="modal fade" id="heronameSkills2Data" tabindex="-1" role="dialog" aria-labelledby="heroname" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="heroname"><img src="{{ .Site.Params.cdn }}/p/images/skills/heroname/2.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /> Skills 3</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
         </div>
         <div class="modal-body">
			skilldesc3
         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
<!--- <button type="button" class="btn btn-primary">Save changes</button> --->
 </div>
      </div>
   </div>
</div>	

<div class="modal fade" id="heronameSkills3Data" tabindex="-1" role="dialog" aria-labelledby="heroname" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="heroname"><img src="{{ .Site.Params.cdn }}/p/images/skills/heroname/3.png"id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /> Skills 4</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> 
         </div>
         <div class="modal-body">
			skilldesc4
         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
<!--- <button type="button" class="btn btn-primary">Save changes</button> --->
 </div>
      </div>
   </div>
</div>	

										