<!-- post wrapper start -->
<div id="post-wrapper">
<div class="post-container">

<div class="above-post-widget section" id="above-post-widget"><div class="widget FeaturedPost" data-version="1" id="FeaturedPost1">
<h2 class="title">Featured Post</h2>
<div class="post-summary">
<h3><a href="https://www.mobagenie.id/2019/04/game-moba-offline-terbaik-2019.html">Game MOBA Offline Terbaik 2019</a></h3>
<img class="image" height="450" layout="responsive" src="https://4.bp.blogspot.com/-kDI4E_GFoDI/XLPnXDC1XcI/AAAAAAAAARQ/zUnx4Ci2rhIW3A2fL2uBvY6ILbzKL6JsgCLcBGAs/s1600/cover-0.jpg" width="600">
</div>
</div></div>

<div class="latest-post-title">
<h2>Latest Posts</h2>
</div>

<div class="main section" id="main"><div class="widget Blog" data-version="1" id="Blog1">
<div class="blog-posts">
<!--Can't find substitution for tag [defaultAdStart]-->
          
          <div class="date-outer">
        

          <div class="date-posts">
  
            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 3 }}
            {{ range $paginator.Pages }}  
<div class="post-outer">
<article class="post">
<div class="label-line">
<span class="label-info-th">
<a href="https://www.mobagenie.id/search/label/Dota%202" rel="tag">Dota 2</a>
<a href="https://www.mobagenie.id/search/label/eSports" rel="tag">eSports</a>
<a href="https://www.mobagenie.id/search/label/News" rel="tag">News</a>
<a href="https://www.mobagenie.id/search/label/Rex%20Regum%20Qeon" rel="tag">Rex Regum Qeon</a>
<a href="https://www.mobagenie.id/search/label/Team%20RRQ" rel="tag">Team RRQ</a>
<a href="https://www.mobagenie.id/search/label/Tournament" rel="tag">Tournament</a>
</span>
</div>
<div class="img-thumbnail">
<a href="{{ .RelPermalink }}"><img alt="{{ .Title }}" src="https://1.bp.blogspot.com/-SJTZyEBdweg/XMKHWztcnAI/AAAAAAAAAac/Omk05t9G5kUgvK-fVq2yhA5dZcAEhs-vACEwYBhgL/w255-h170-p-k-no-nu/mobagenie.id-igrrq-rrq-div-dota2-0.JPG" title="{{ .Title }}">
</a>
</div>
<meta content="https://1.bp.blogspot.com/-SJTZyEBdweg/XMKHWztcnAI/AAAAAAAAAac/Omk05t9G5kUgvK-fVq2yhA5dZcAEhs-vACEwYBhgL/s640/mobagenie.id-igrrq-rrq-div-dota2-0.JPG" itemprop="image">
<a name="3458932010900769286"></a>
<h2 class="post-title entry-title" itemprop="name headline">
<a href="{{ .RelPermalink }}">{{ .Title }}</a>
</h2>
<div class="post-body entry-content" id="post-body-3458932010900769286" itemprop="description">
<div class="post-snippet">
  Team RRQ Resmi Bubarkan Divisi Dota 2   MobaGenie.ID  - Beberapa hari lalu, fans Rex Regum Qeon atau lebih familiar dipanggil RRQ dikagetk...
</div>
</div>
<div class="post-info info-1">
</div>
<div style="clear: both;"></div>
</article>
</div>
            {{ end }}
        </div></div>
      
<!--Can't find substitution for tag [adEnd]-->
</div>

<div class="container">
    {{ partial "pagination.html" . }}
</div>

<div class="clear"></div>
<div class="blog-feeds">
<div class="feed-links">
Subscribe to:
<a class="feed-link" href="https://www.mobagenie.id/feeds/posts/default" target="_blank" type="application/atom+xml">Posts (Atom)</a>
</div>
</div>
</div>

</div>


<div class="iklan-atas section" id="iklan-atas"><div class="widget HTML" data-version="1" id="HTML996">
</div></div>
<div class="iklan-tengah1 section" id="iklan-tengah1"><div class="widget HTML" data-version="1" id="HTML997">
</div></div>
<div class="iklan-tengah2 section" id="iklan-tengah2"><div class="widget HTML" data-version="1" id="HTML998">
</div></div>
<div class="iklan-bawah section" id="iklan-bawah"><div class="widget HTML" data-version="1" id="HTML999">
</div></div>
</div>
</div>
<!-- post wrapper end -->

<!-- <article class="card-post">
    <div class="container">
        <div class="row">

            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 6 }}
            {{ range $paginator.Pages }}
                <div class="col-md-4 mb-4 d-flex">
                    <div class="card">
                        <a href="{{ .RelPermalink }}">
                        <img class='card-img-top' 
                            
                            alt='{{ .Title }}'>
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h4>
                        </div>
                    </div>

                </div>
            {{ end }}

        </div>
    </div>
</article>

<br> -->

