
  <!-- <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar"> -->
   <nav class="navbar navbar-expand fixed-top be-top-header">
      <div class="container-fluid">
         <div class="be-navbar-header">
            <a class="nav-link be-toggle-left-sidebar" href="#" id="sidebar_btn">
               <span class="icon zmdi zmdi-menu"></span>
            </a>
            <a class="navbar-brand" href="#"></a>
         </div>
         <div class="be-right-navbar be-right-navbar-flex">
            <div class="search-container">
               <!-- <div class="input-group input-group-sm mx-auto"> -->
                  <!-- <input class="form-control search-input" -->
                         <!-- type="text" name="search" -->
                         <!-- placeholder="Search" /> -->
                  <!-- <span class="input-group-btn"> -->
                     <!-- <button class="btn btn-light" type="button"><i class="icon zmdi zmdi-search"></i></button> -->
                  <!-- </span> -->
               <!-- </div> -->
            </div>
            <ul class="nav navbar-nav float-right be-user-nav">
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#">
                     <img src="https://s.cdpn.io/profiles/user/2598789/512.jpg?1542577702">
                     <span class="user-name">MobaGenie</span>
                  </a>
               </li>
            </ul>
            <ul class="nav navbar-nav float-right be-icons-nav">
               <!-- <li class="nav-item dropdown"> -->
                  <!-- <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="true"> -->
                     <!-- <span class="icon zmdi zmdi-comment-video"></span> -->
                  <!-- </a> -->
                  <!-- <ul class="dropdown-menu">video</ul> -->
               <!-- </li> -->
               <!-- <li class="nav-item dropdown"> -->
                  <!-- <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="true"> -->
                     <!-- <span class="icon zmdi zmdi-apps"></span> -->
                  <!-- </a> -->
                  <!-- <ul class="dropdown-menu">apps</ul> -->
               <!-- </li> -->
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="true">
                     <span class="icon zmdi zmdi-comment-text"></span>
                  </a>
                  <ul class="dropdown-menu"><br/>
				  
<script type="text/javascript" src="https://build-mg.disqus.com/combination_widget.js?num_items=3&hide_mods=0&color=grey&default_tab=recent&excerpt_length=70"></script>				  
				  <!-- comment -->
				  
				  </ul>
				  
               </li>
               <!-- <li class="nav-item dropdown"> -->
                  <!-- <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="true"> -->
                     <!-- <span class="icon zmdi zmdi-notifications"></span> -->
                  <!-- </a> -->
                  <!-- <ul class="dropdown-menu">notifications</ul> -->
               <!-- </li> -->
            </ul>
         </div>
      </div>
   </nav>
   <div class="be-left-sidebar" id="left_sidebar">
      <div class="left-sidebar-wrapper">
         <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
               <div class="left-sidebar-content">
                  <ul class="sidebar-elements">
                     <!-- <li class="active"><a href="/../../"><i class="icon zmdi zmdi-home"></i><span>Home</span></a></li> -->
                     <li><a href="/equipment"><i class="material-icons">assignment</i><span> Equipment</span></a></li>
                     <li><a href="#"><i class="icon zmdi zmdi-hourglass-alt"></i><span>History</span></a></li>
                     <li><a href="#"><i class="icon zmdi zmdi-label"></i><span>Purchases</span></a></li>
                     <!-- <li class="divider">More Features</li> -->
                     <!-- <li class="parent"><a href="#"><i class="icon zmdi zmdi-comments"></i><span>Forum</span></a> -->
                        <!-- <ul class="sub-menu"> -->
                           <!-- <li><a href="#">CodePen</a></li> -->
                           <!-- <li><a href="#">Stack Overflow</a></li> -->
                           <!-- <li><a href="#">Google</a></li> -->
                        <!-- </ul> -->
                     <!-- </li> -->
                     <!-- <li class="parent"><a href="#"><i class="icon zmdi zmdi-apps"></i><span>Apps</span></a> -->
                        <!-- <ul class="sub-menu"> -->
                           <!-- <li><a href="#">YouTube</a></li> -->
                           <!-- <li><a href="#">Search</a></li> -->
                           <!-- <li><a href="#">Email</a></li> -->
                           <!-- <li><a href="#">News</a></li> -->
                           <!-- <li><a href="#">Diary</a></li> -->
                           <!-- <li><a href="#">More</a></li> -->
                        <!-- </ul> -->
                     <!-- </li> -->
                     <li><a href="#"><i class="icon zmdi zmdi-notifications"></i><span>Notifications</span></a></li>
                     <li><a href="#"><i class="icon zmdi zmdi-translate"></i><span>Translate</span></a></li>
                     <!-- <li class="divider">Settings</li> -->
                     <!-- <li id="debug_only_menuopen" class="parent"> -->
                        <!-- <a href="#"><i class="icon zmdi zmdi-settings"></i><span>Settings</span></a> -->
                        <!-- <ul class="sub-menu"> -->
                           <!-- <li class="parent"><a href="#">Account</a> -->
                              <!-- <ul class="sub-menu"> -->
                                 <!-- <li><a href="#">Profile</a></li> -->
                                 <!-- <li><a href="#">Privacy</a></li> -->
                                 <!-- <li class="parent"><a href="#">Brand</a> -->
                                    <!-- <ul class="sub-menu"> -->
                                       <!-- <li><a href="#">Add New</a></li> -->
                                       <!-- <li><a href="#">Deactivate</a></li> -->
                                    <!-- </ul> -->
                                 <!-- </li> -->
                              <!-- </ul> -->
                           <!-- </li> -->
                           <!-- <li><a href="#">Language</a></li> -->
                           <!-- <li><a href="#">Data Usage</a></li> -->
                        <!-- </ul> -->
                     <!-- </li> -->
                     <!-- <li><a href="#"><i class="icon zmdi zmdi-flag"></i><span>Report History</span></a></li> -->
                     <!-- <li><a href="#"><i class="icon zmdi zmdi-help"></i><span>Help</span></a></li> -->
                     <!-- <li><a href="#"><i class="icon zmdi zmdi-comment-alert"></i><span>Send Feedback</span></a></li> -->
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- <div class="be-content"> -->
      <!-- <div class="container" style="max-width:500px;margin:40px auto;font-size:1.2rem;"> -->
         <!-- <h1 style="color:#fe669e;">Theme Notice</h1> -->
         <!-- <br /> -->
         <!-- <p>This pen is a work in progress.</p> -->
         <!-- <p>As I spend a lot of time working and away from home, I've began to use CodePen as a base for coding on my smartphone during work breaks.</p> -->
         <!-- <p>Unfortunately, as a self-employed music teacher, I don't earn much and cannot afford paying for PRO subscriptions. Any code you find here you use freely knowning there will be a lot of bugs or missing features.</p> -->
         <!-- <p>I can't say when it will be complete, however, this pen will be constantly revised and updated until I am satisfied with what I have.</p> -->
         <!-- <p>I've named it "YouTube Style" because that's what it was based off but it'll be a custom or extended version. It may even lose such title as more is added (such as the android app header appears at lower media size). I don't intend to plagiarize it completely as that could end up with something illegal. This Navbar+Sidebar is more unqiue and adds original content.</p> -->
         <!-- <p>The final product will eventually be posted on GitHub as OpenSource.</p> -->
         <!-- <p>Why am I doing this...? There are a few projects I've got on such as a Japanese Learning course I'd like to implement this template in, I think it would be good. Also, I plan to use it on my own website, integrating it as a WordPress Theme for personal use.</p> -->
         <!-- <p>Why is the theme... pink? Ah, well. That just so happens to be the prominant colour of my brand/logo. It can easily be changed in the SASS to the defaults. Long story.</p> -->
         <!-- <p>Anyway, I'll be keeping many other pens to this template/theme as a collection here: <a href="https://codepen.io/collection/AQvoEb/" target="_blank" style="color:#fe669e;">Bootstrap 4.1.3 Studio KonKon Theme Templates (SASS)</a></p> -->
         <!-- <br /> -->
         <!-- <p><b>Studio KonKon</b><br /><i>Web Developer & Music Teacher</i><br /><a href="https://studiokonkon.com/" target="_blank" style="color:#fe669e;font-size:1rem;">https://studiokonkon.com/</a></p> -->
         <!-- <br /> -->
         <!-- <hr /> -->
         <!-- <div class="text-center" style="font-size:0.95rem;"> -->
            <!-- <span>Powered by <a href="https://codepen.io/" target="_blank">codepen.io</a></span> -->
            <!-- <br /> -->
            <!-- <span>Images hosted by <a href="https://cloudinary.com/invites/lpov9zyyucivvxsnalc5/jt1c11zcpsjpusygprd7" target="_blank">Cloudinary</a></span> -->
         <!-- </div> -->
      <!-- </div> -->
   <!-- </div> -->
<!-- </div> -->

