      <div class="row text-white bg-dark">
      	
        <div class="col-lg-12">

<h2><i class="fas fa-cog fa-sm"></i> Build 1 <button class="btn btn-warning btn-lg" data-container="body" data-toggle="popover" data-placement="top" data-content="Generic build mean its Recommended Build or Default Build by Mobile Legends"><b>(Generic) <i class="fas fa-question-circle fa-sm"></i></b></button>  <a href="/tags/{{ $.Page.Params.heroname | lower }}"><button class="btn btn-warning btn-lg" ><b>Other Build <i class="fas fa-angle-double-right fa-sm"></i></b></button></a></h2>

</div>
     
<div class="col-lg-12">

      <button type="button"  style="margin:2px;" class="btn btn-primary" data-toggle="modal" data-target="#{{ $.Page.Params.Obuild1 }}Data"><img src="{{ .Site.Params.cdn }}/p/images/items/iname/{{ $.Page.Params.Obuild1 }}.png" alt="{{ $.Page.Params.Obuild1 }}" id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
    
    
	
      <button type="button" style="margin:2px;"  class="btn btn-primary" data-toggle="modal" data-target="#{{ $.Page.Params.Obuild2 }}Data"><img src="{{ .Site.Params.cdn }}/p/images/items/iname/{{ $.Page.Params.Obuild2 }}.png" alt="{{ $.Page.Params.Obuild2 }}" id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
    
    
      <button type="button" style="margin:2px;"  class="btn btn-primary" data-toggle="modal" data-target="#{{ $.Page.Params.Obuild3 }}Data"><img src="{{ .Site.Params.cdn }}/p/images/items/iname/{{ $.Page.Params.Obuild3 }}.png" alt="{{ $.Page.Params.Obuild3 }}" id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
        
    
      <button type="button" style="margin:2px;"  class="btn btn-primary" data-toggle="modal" data-target="#{{ $.Page.Params.Obuild4 }}Data"><img src="{{ .Site.Params.cdn }}/p/images/items/iname/{{ $.Page.Params.Obuild4 }}.png" alt="{{ $.Page.Params.Obuild4 }}" id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
    
    
      <button type="button" style="margin:2px;"  class="btn btn-primary" data-toggle="modal" data-target="#{{ $.Page.Params.Obuild5 }}Data"><img src="{{ .Site.Params.cdn }}/p/images/items/iname/{{ $.Page.Params.Obuild5 }}.png" alt="{{ $.Page.Params.Obuild5 }}" id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>
    
    
      <button type="button" style="margin:2px;"  class="btn btn-primary" data-toggle="modal" data-target="#{{ $.Page.Params.Obuild6 }}Data"><img src="{{ .Site.Params.cdn }}/p/images/items/iname/{{ $.Page.Params.Obuild6 }}.png" alt="{{ $.Page.Params.Obuild6 }}" id="itemboyutu" style="max-width:%15" class="itemler rounded-circle" width="50px" height="50px"   /></button>

 </div>



      </div>

