      <div class="row text-white bg-dark">
      	
        <div class="col-lg-12">
<h2><i class="fas fa-thumbs-up fa-sm"></i> Contrary Hero</h2>
</div>
        <div class="col-lg-12">

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.SAGHeroName1 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.SAGHeroName1 }}.png" alt="{{ $.Page.Params.SAGHeroName1 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.SAGHeroName }}</b> -->

<!-- </div> -->
</a>

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.SAGHeroName2 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.SAGHeroName2 }}.png" alt="{{ $.Page.Params.SAGHeroName2 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.SAGHeroName }}</b> -->

<!-- </div> -->
</a>

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.SAGHeroName3 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.SAGHeroName3 }}.png" alt="{{ $.Page.Params.SAGHeroName3 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.SAGHeroName }}</b> -->

<!-- </div> -->
</a>

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.SAGHeroName4 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.SAGHeroName4 }}.png" alt="{{ $.Page.Params.SAGHeroName5 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.SAGHeroName }}</b> -->

<!-- </div> -->
</a>

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.SAGHeroName5 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.SAGHeroName5 }}.png" alt="{{ $.Page.Params.SAGHeroName6 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.SAGHeroName }}</b> -->

<!-- </div> -->
</a>
		 
      </div> 
</div> 
<!-- <div class="col-sm-9" style="background-color:#0c1c36;max-width:100%"> <hr style="margin-bottom:0px;"></div> -->
<!-- <div class="card-header" style="padding:1rem 2.25rem;background-color:#212529;border-bottom:0px;"> -->
<!-- <h4 style="color:deeppink"> Strong Against</h4><br>     -->
<!-- {{ .Inner }}										 -->
<!-- </div> -->
{{ .Inner }}