      <div class="row text-white bg-dark">
      	
        <div class="col-lg-12">
<h2><i class="fas fa-exclamation-triangle fa-sm"></i> Counter Hero</h2>
</div>
        <div class="col-lg-12">

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.WAGHeroName1 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.WAGHeroName1 }}.png" alt="{{ $.Page.Params.WAGHeroName1 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.WAGHeroName }}</b> -->

<!-- </div> -->
</a>

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.WAGHeroName2 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.WAGHeroName2 }}.png" alt="{{ $.Page.Params.WAGHeroName2 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.WAGHeroName }}</b> -->

<!-- </div> -->
</a>

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.WAGHeroName3 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.WAGHeroName3 }}.png" alt="{{ $.Page.Params.WAGHeroName3 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.WAGHeroName }}</b> -->

<!-- </div> -->
</a>

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.WAGHeroName4 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.WAGHeroName4 }}.png" alt="{{ $.Page.Params.WAGHeroName5 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.WAGHeroName }}</b> -->

<!-- </div> -->
</a>

<a class="badge badge-light" style="margin:2px;" data-wow-delay=".5s" href="../../tags/{{ $.Page.Params.WAGHeroName5 }}">

<img src="{{ .Site.Params.cdn }}/p/images/buildk/{{ $.Page.Params.WAGHeroName5 }}.png" alt="{{ $.Page.Params.WAGHeroName6 }}"  width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  />
<!-- <b class="badge badge-primary"  style="color:">{{ $.Page.Params.WAGHeroName }}</b> -->

<!-- </div> -->
</a>

		 
      </div> 
</div>

{{ .Inner }}