
         {{ partial "head.html" . }}
		{{ partial "json-structured-data-index.html" . }}
<div class="tagbanner">

  <i><img src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_1000,h_200,c_fill,g_face,f_auto/https://cdn2-build-mobagenie.netlify.app/p/images/banner/flat/BUILD-MG-BANNER.jpg" alt="{{ .Title }}" style="width:100%"></i>

  
  <!-- <button class="btn btn-danger btn-sm" onclick="openModal();currentSlide(1)"><i class="material-icons">fullscreen</i></button> -->
</div>		
  <body>

  <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
  
      {{ partial "top-nav.html" . }}

   <div class="be-content">
      <div class="container" style="max-width:1500px;margin:40px auto;font-size:1.2rem;">
	  

               
		{{ partial "post-grid-index.html" . }}
       
         </div>
      </div>
   </div>

{{ partial "bottom-nav.html" . }}
                   


        {{ partial "footer.html" . }}


	 
  </body>

</html>
