
         {{ partial "head.html" . }}
		{{ partial "json-structured-data-general.html" . }}

<div class="tagbanner">

  <i><img src="https://res.cloudinary.com/drlhixyyd/image/fetch/w_1000,h_200,c_fill,g_face,f_auto/https://cdn2-build.mobagenie.my.id/p/images/banner/flat/PRO-PLAYER-ML.jpg" alt="{{ .Title }}" style="width:100%"></i>

  
  <!-- <button class="btn btn-danger btn-sm" onclick="openModal();currentSlide(1)"><i class="material-icons">fullscreen</i></button> -->
</div>
		
  <body>

  <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
  
      {{ partial "top-nav.html" . }}



   <div class="be-content">
      <div class="container" style="max-width:1500px;margin:40px auto;font-size:1.2rem;">
	  

       

      <div class="row text-white bg-dark">
      	
        <div class="col-lg-12 bg-primary">

<h2>
<!-- <i class="fas fa-cog fa-sm"></i> "{{ .Title | upper }}" BUILD -->
<a href="{{ .RelPermalink }}"><button class="btn btn-dark btn-lg" data-container="body" data-toggle="popover" data-placement="top" data-content=""><i class="fas fa-cog fa-lg"></i> {{ .Title | upper }} </button></a> <a href="/pro-player/profile/"><button class="btn btn-warning btn-lg" data-container="body" data-toggle="popover" data-placement="top" data-content=""><i class="fas fa-users fa-lg"></i> PRO PLAYER PROFILE </button></a>
</h2>

</div>
     
<div class="col-lg-12">


				{{ .Content }} <!-- content of the markdown file. note that inside the range .Content will point to each page's content -->

{{ $cleanplayername := slice }}
{{ $cleanplayername2 := slice }}
{{ range (where .Site.RegularPages "Type" "post") }}
{{if isset .Params "proplayer" }}  
{{ $cleanplayername = $cleanplayername | append .Params.cleanplayername }}
{{ $cleanplayername2 = $cleanplayername2 | append .Params.cleanplayername }}
{{ end }}
{{ end }}

{{ range $cleanplayername | uniq }}

<div class="badge badge-dark" style="margin:5px;" data-wow-delay=".5s" href="">


	
<a href="/tags/{{ . }}/"><img src="https://res.cloudinary.com/drlhixyyd/image/fetch/c_thumb,g_face,h_150,w_150/https://cdn2-build.mobagenie.my.id/p/images/banner/player/full/{{ . }}.jpg" alt="{{ . }}"width="50px" height="50px" id="itemboyutu" style="" class="ggsuz rounded-circle"  /></a>

<!-- <b class="badge badge-primary"  style="color:">{{ . }}</b> -->
</br>
<h1 class="badge badge-warning font-weight-bold"  style="color:">{{ . | upper }}</h1>
</br>
<a href="/tags/{{ .  }}/" type="button" class="btn btn-primary" sty le="background:#009578;">Build</a>

</div>				
{{ end }}

 </div>

      </div>	
	

      </div>
   </div>

{{ partial "bottom-nav.html" . }}
                   


        {{ partial "footer.html" . }}

	 
  </body>

</html>
